.footer {
    background-color: black;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    }

.modal-dialog {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}    

.formUSmex{
    height: 100px;
}

.formUS {
    height: 100px;
}

.btn{
    background-color:black;
}

.social, .VociFooterAlte, .VociFooterBasse, .FooterBasso {
    text-align: center;
    color: #fff;
}

.btn {
    text-align: center;
    color: #fff;
    background-color: gray;
}
.btn-news {
    text-align: right;
    color: white;
    background-color: limegreen;
}
.modal-dialog, .modal-content, .modal-body, form-horizontal, .form-group, .{
    background-color: gray;
}
.form-control{
    width: 100%;
}