/*MEDIA QUERIES*/
@media (max-width: 1920px) {

    .carousel-caption h1 {
      font-size: 120px;
        color: black;
    }

    .carousel-caption p {
      font-size: 20px;
    }
}

@media (max-width: 1280px) {
    .carousel-caption h1 {
        font-size: 100px;
         color: black;
    }

    .carousel-caption p {
      font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .carousel-caption h1 {
      font-size: 80px;
        color: black;
    }

    .carousel-caption p {
      font-size: 15px;
    }
}

@media (max-width: 800px) {
    .carousel-caption h1 {
      font-size: 60px;
    }

    .carousel-caption p {
      font-size: 12px;
    }
}

@media (max-width: 700px) {
    .carousel-caption h1 {
      font-size: 40px;
    }

    .carousel-caption p {
      font-size: 8px;
    }
}

@media (max-width: 500px) {
  .carousel-caption h1 {
      font-size: 30px;
      display: none; /*nascondo il testo se la risoluzione è troppo bassa*/
    }

    .carousel-caption p {
      font-size: 5px;
      display: none;
    }
}