/*MEDIA QUERIES*/
@media (max-width: 1920px) {

    .carousel-caption h1 {
      font-size: 120px;
        color: black;
    }

    .carousel-caption p {
      font-size: 20px;
    }
}

@media (max-width: 1280px) {
    .carousel-caption h1 {
        font-size: 100px;
         color: black;
    }

    .carousel-caption p {
      font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .carousel-caption h1 {
      font-size: 80px;
        color: black;
    }

    .carousel-caption p {
      font-size: 15px;
    }
}

@media (max-width: 800px) {
    .carousel-caption h1 {
      font-size: 60px;
    }

    .carousel-caption p {
      font-size: 12px;
    }
}

@media (max-width: 700px) {
    .carousel-caption h1 {
      font-size: 40px;
    }

    .carousel-caption p {
      font-size: 8px;
    }
}

@media (max-width: 500px) {
  .carousel-caption h1 {
      font-size: 30px;
      display: none; /*nascondo il testo se la risoluzione è troppo bassa*/
    }

    .carousel-caption p {
      font-size: 5px;
      display: none;
    }
}

@media (min-width: 300px) and (max-width: 600px) {}
@media (min-width: 601px) and (max-width: 1024px){
  .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
@media (min-width: 1025px){
    
}
