/*VOCI MENU*/

/*tutte le voci del menu in maiuscolo*/
.navbar li a {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: white !important;
    text-align: left;
}

/*colore del brand in maiuscolo*/
.navbar-inverse .navbar-brand{
    text-transform: uppercase;
    color: white;
    margin-top: -10px;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar .navbar-brand:active,
.navbar .navbar-brand.active {
    color:white;
    background-color: none;
}   

/*DROPDOWN*/
/*voci del menu dropdown*/
.dropdown li{
    background-color: white;
}
.dropdown li a{
    background-color: white;
}
.dropdown {
    margin-right: 15px;
}
/*colore menu dropdown*/
.navbar-inverse .navbar-toggle{
    background-color: black;
}
.navbar-inverse .navbar-toggle .icon-bar{
    background-color: black;
}


/*SEARCH*/
input[type=text] {
    width: 130px; /*dimensione "search"*/
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top: 10px;
}

/* quando seleziono "search" si ridimensiona*/
input[type=text]:focus {
    width:90%;
}

/*ICONE*/
.white {
  color: #fff;
}