/*VOCI MENU*/
.navbar-inverse .navbar-toggle {
  float: left;
    background-color: black !important;
}
/*tutte le voci del menu in maiuscolo*/
.navbar li a {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: white !important;
    text-align: left;
}


/*colore del brand in maiuscolo*/
.navbar-inverse .navbar-brand{
    text-transform: uppercase;
    color: white;
    margin-top: -10px;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar .navbar-brand:active,
.navbar .navbar-brand.active {
    color:white;
    background-color: none;
}

/*DROPDOWN*/

/*colore menu dropdown*/
.navbar-inverse .navbar-toggle{
    background-color: white;
}
.navbar-inverse .navbar-toggle .icon-bar{
    background-color: white;
}


/*SEARCH*/
input[type=text] {
    border-radius: 8px;
    border-width: thin;
    border-color: black;
    width: 130px; /*dimensione "search"*/
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top: 10px;
}

/* quando seleziono "search" si ridimensiona*/
input[type=text]:focus {
    border-radius: 8px;
    width:80%;
}

/*ICONE*/
.white {
  color: #fff;
}

.black {
  color: #000;
}

/*menu a tendina PROJECTS*/

.dropdown:hover .dropdown-menu {
    display: block;
    background: black;
}

.dropdown-menu>li>a:hover{
    color: black !important;
}
