* {
  background: white;
  color: #000000;

}
body img { display : none; }




.row img {
  display: block;
  width: 40%;
  height: 200px;
}

.img-responsive {
  width: 40%;
  height: 200px;
}

 body {
 background : White;
 color : Black;
 font : 16pt “Times New Roman”, Times, serif;
 line-height : 1.5em;
 border : none;

}

.navbar-fixed-bottom {
  display: none;
}

.navbar .navbar-inverse .navbar-fixed-top {
  display: none;
}

.navbar-inverse .navbar-brand {
  color: black;
}

.btn {
  display: none;
}

.row div {
  page-break-after: avoid;
}
