.img-responsive{
    max-width: 100%;
    height: auto;
}

.video-responsive{
    max-width: 100%;
    height: auto;
    border-style: groove;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.btn-group {
    background-color: transparent;
    border-style: none;
}

.exp-details {
    border-bottom: 2px solid black;
    border-color: black;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.list-group {
    display: -ms-flexbox;
    display: flex;
    max-width: 85%;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.item{
    max-width: 95%;
    height: auto;
}

.category {    
    max-width: 100%;
    position: fixed;
}